<a href="/"class="btn btn-dark row mt-4" style="margin-left: 15px">Home</a>
<a href="{{url_for('contato')}}" class="btn btn-primary row mt-4" style="margin-left: 15px">Envio de Contato</a>
<a href="{{url_for('contatoLista')}}" class="btn btn-info row mt-4" style="margin-left: 15px">Pesquisa de Contatos</a>
<a href="{{url_for('PostNovo')}}" class="btn btn-secondary row mt-4" style="margin-left: 15px">Post - Novo</a>
<a href="{{url_for('PostLista')}}" class="btn btn-secondary row mt-4" style="margin-left: 15px">Post - Lista</a>